Question 1:

In [60]:
age = [19, 22, 19, 24, 20, 25, 26, 24, 25,24]
print(age)
age.sort()
print("Sorted List :",age)
minimum_val = min(age)
print("Minimum Value is :",minimum_val)
maximum_val = max(age)
print("Maximum Value is :",maximum_val)
minimum_val = min(age)
age.append(minimum_val)
age.append(maximum_val)
print("Added min and max values to the list",age)
age.sort()
# print(age)
median=0
if(len(age)%2==0):
#     print("Even")
    median=(age[len(age)//2]+age[len(age)//2-1])//2
else:
    median=age[len(age)//2]
print("Median value is:",median)

average_val=sum(age)/len(age)
print("Average value is:",average_val)

print("Range of max minus min:",maximum_val-minimum_val)

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
Sorted List : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum Value is : 19
Maximum Value is : 26
Added min and max values to the list [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Median value is: 24
Average value is: 22.75
Range of max minus min: 7

Question 2:

In [61]:
dog={}
dog["name"]="Puppy"
dog["color"]="green"
dog["breed"]="Street"
dog["legs"]=4
dog["age"]=5
print("Dog Dictionary :",dog)

student={
    "first_name":"Suresh","last_name":"Garimella","gender":"male","age":23,"marital_status":"single",
         "skills":["python","ML","Cloud","DevOps"],"country":"India","city":"Vijayawada","address":"11-42,surampalli"
        }
print("\nstudent :",student)
print("\nLength of Student Dictionary :",len(student))
print("\nSkills values in student :",student["skills"])
print("\nType of Skills value is :",type(student["skills"]))
if(type(student["skills"])== list):
    print("The Type of student[skills] is a List")
else:
    print("The Type of student[skills] is NOT a List")
    
student["skills"].append("DataBase")
student["skills"].append(".NET")
print("\n updated student skills :",student["skills"])

print("\n Student Dictionary Keys :",list(student.keys())) 
print("\n Student Dictionary values :",list(student.values()))

Dog Dictionary : {'name': 'Puppy', 'color': 'green', 'breed': 'Street', 'legs': 4, 'age': 5}

student : {'first_name': 'Suresh', 'last_name': 'Garimella', 'gender': 'male', 'age': 23, 'marital_status': 'single', 'skills': ['python', 'ML', 'Cloud', 'DevOps'], 'country': 'India', 'city': 'Vijayawada', 'address': '11-42,surampalli'}

Length of Student Dictionary : 9

Skills values in student : ['python', 'ML', 'Cloud', 'DevOps']

Type of Skills value is : <class 'list'>
The Type of student[skills] is a List

 updated student skills : ['python', 'ML', 'Cloud', 'DevOps', 'DataBase', '.NET']

 Student Dictionary Keys : ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

 Student Dictionary values : ['Suresh', 'Garimella', 'male', 23, 'single', ['python', 'ML', 'Cloud', 'DevOps', 'DataBase', '.NET'], 'India', 'Vijayawada', '11-42,surampalli']

Questoin 3:

In [83]:
sisters = ("sister1","sister2","sister3")
print("sisters tuple :",sisters)
brothers = ("brother1","brother2","brother3")
print("brothers tuple :",brothers)
sibilings = sisters + brothers
print("sibilings tuple :",sibilings)
print("I have {0} sibilings ".format(len(sibilings)))
family_members=()
sibilings = sibilings+("Dad","mom")
family_members = sibilings
print("Family members tuple :",family_members)

sisters tuple : ('sister1', 'sister2', 'sister3')
brothers tuple : ('brother1', 'brother2', 'brother3')
sibilings tuple : ('sister1', 'sister2', 'sister3', 'brother1', 'brother2', 'brother3')
I have 6 sibilings
Family members tuple : ('sister1', 'sister2', 'sister3', 'brother1', 'brother2', 'brother3', 'Dad', 'mom')

Question 4:

In [132]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(type(it_companies),"\n","It_companies :",it_companies)
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("length of it_companies :",len(it_companies))
it_companies.add("Twitter")
print("IT Companies :",it_companies)
it_companies.update({"Infosys","Tesla"})
print("Added Multiple IT Companies :",it_companies)
it_companies.remove("IBM")
print("Removed IBM from It_companies :",it_companies)
print("\nremove(): this function removes the specified element from the set, if not present it will raise an error")
print("where as discard() function deletes the element specified if not present, it will not raise any error\n")
c={}
c=A.union(B)
print("Joining A & B sets",c)
print("Intersection of A & B:",A.intersection(B))
if(A.issubset(B)):
    print("A is SubSet of B")
else:
    print("A is not a SubSet of B")
if(A.isdisjoint(B)):
    print("A & B are disjoint sets")
else:
    print("A & B are not disjoint sets")
A1=A
# print(A)
A.update(B)
print("Joining A with B :",A)
# print(B)
B.update(A)
print("Joining B with A :",B)
print("Symmetric difference b/w A & B:",A.symmetric_difference(B))
A.clear()
B.clear()
print("set is A ,B  is clear",A,B)
print("length of age list form is :",len(age))
print("length of age set form is :",len(set(age)))

<class 'set'>
 It_companies : {'Apple', 'Amazon', 'IBM', 'Google', 'Microsoft', 'Oracle', 'Facebook'}
length of it_companies : 7
IT Companies : {'Apple', 'Amazon', 'IBM', 'Google', 'Microsoft', 'Twitter', 'Oracle', 'Facebook'}
Added Multiple IT Companies : {'Apple', 'Amazon', 'Infosys', 'IBM', 'Google', 'Microsoft', 'Twitter', 'Oracle', 'Tesla', 'Facebook'}
Removed IBM from It_companies : {'Apple', 'Amazon', 'Infosys', 'Google', 'Microsoft', 'Twitter', 'Oracle', 'Tesla', 'Facebook'}

remove(): this function removes the specified element from the set, if not present it will raise an error
where as discard() function deletes the element specified if not present, it will not raise any error

Joining A & B sets {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A & B: {19, 20, 22, 24, 25, 26}
A is SubSet of B
A & B are not disjoint sets
Joining A with B : {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A : {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference b/w A & B: set()
set is A ,B  is clear set() set()
length of age list form is : 8
length of age set form is : 5

Question 5:

In [140]:
radius = 30
# Area of circle is pi*r^2
def area_of_circle(radius):
    return 3.141592653*(int(radius)**2)
_area_of_circle = area_of_circle(radius)
print("Area of circle :",_area_of_circle)
# Circumference of a Circle is 2*pi*r 
print("Circumference of a circle :",2*3.141592653*radius)
r = input("Enter the radius :")
print("Area of circle is :",area_of_circle(r))

Area of circle : 2827.4333877
Circumference of a circle : 188.49555918
Enter the radius :2
Area of circle is : 12.566370612

Question 6:

In [2]:
statement = "I am a teacher and I love to inspire and teach people"
words_list = statement.split(" ")
print("All Words in a sentance as a list :",words_list)
unique_set = set(words_list)
print("All Words in a sentance as a set :",unique_set)
print("Total Unique words :",len(unique_set))

All Words in a sentance as a list : ['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']
All Words in a sentance as a set : {'to', 'inspire', 'a', 'I', 'and', 'teacher', 'love', 'teach', 'am', 'people'}
Total Unique words : 10

Question 7:

In [1]:
# Use a tab escape sequence to get the following lines.

# Name      Age      Country      City
# Asabeneh      250      Finland      Helsinki
# Split() :this function by default considers the \t and space to split 
keys = input().split()
print(keys)
values = input().split()
print(values)
dict1 = {}
for i in range(len(keys)):
    dict1[keys[i]] = values[i]
print(dict1)

Name      Age      Country      City
['Name', 'Age', 'Country', 'City']
Asabeneh      250      Finland      Helsinki
['Asabeneh', '250', 'Finland', 'Helsinki']
{'Name': 'Asabeneh', 'Age': '250', 'Country': 'Finland', 'City': 'Helsinki'}

Question 8:

In [1]:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius {0} is {1} meters square.".format(radius,int(area)))

The area of a circle with radius 10 is 314 meters square.

Question 9:

In [167]:
N= int(input("Enter no of students :"))
print(N)
lbs = list(map(int, input().split()))   

kgs = []
for i in lbs:
    kgs.append(i*0.45359237)
print("Weights in Kgs :",kgs)

Enter no of students :4
4
150 155 145 148
 [68.0388555, 70.30681735, 65.77089365, 67.13167076]

questions 10:

# Answer is written in the Notes and is attached along with this document as a PDF in the word document